<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>English to Nepali Dictionary</title>
</head>

<body>
  <div class="container mt-5">
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-4" style="background-color: lavender;">
          <img src="media/image 6.jpg" class="card-img" alt="" height="230">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="background-color: lavender">
            <h5 class="card-title"
              style="padding-left:16px;font-family:cursive,helvetica; font-weight:bold;font-size:19px;color:crimson;">
              English to Nepali Dictionary</h5>
            <div class="container mt-5">
              <form method='POST'>
                {% csrf_token %}
                <input class="form-control" type="text" name="word" placeholder="Enter english word ">

              <button style="cursor: pointer;
               border: 2px solid rgb(88, 181, 196);
               border-radius: 6px;
               color: white;
               background-color: black;
               display: block;
               width: 35%;
               font-size: 16px;
               padding: 7px 9px;
               margin-top:30px;"> Search </button>
              </form>
              <div style="margin-top:10px; font-weight:bold;"> {{nepali_meaning}} </<div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>